#vezeto a{
	margin-left:0px; 
}

#vezeto li{
	height:195px; 
}

#vezeto li div{
	width:320px;
	height:195px; 
	position: relative;
}

span.imgtext {
	background-color: white;
	padding: 5px;
	vertical-align: bottom;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

section[role="region"] > .content [data-type="list"] header {
	padding: 1rem 1.5rem 0.5rem 1.5rem;
}