#vezeto a{
	margin: 0rem; 
}

#vezeto li{
	height: 20rem; 
}

#vezeto li div{
	height:20rem; 
	position: relative;
	background-size: cover;
}

span.imgtext {
	background-color: white;
	padding: 0.5rem;
	vertical-align: bottom;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}

section[role="region"] > .content [data-type="list"] {
	margin-top: 1.5rem;
}